body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #6085af;
}

header {
    background-color: #205da1;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #264653;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    padding: 2em;
    font-weight: bold;
}
h2{
    color: white;
}

form.form {
    background-color: #f1f1f1;
    padding: 2em;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    width: 100%;
    padding: 0.6em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #2a9d8f;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: #21867a;
}

footer {
    background-color: #205da1;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}
